.invoice-create {
  width: 50%;
  min-height: 300px;
  background-color: pink;
  margin: 20px 250px;
}
.invoice-create p {
  background-color: rgb(236, 25, 95);
  padding: 5px;
  text-align: center;
  color: white;
}
.invoice-create .no-date {
  display: flex;
  margin: 10px 20px;
}
.invoice-create .no-date input {
  margin-left: 2px;
  width: 100px;
  margin-right: 5px;
}
.invoice-create button {
  margin-left: 450px;
  margin-bottom: 10px;
}
.invoice-create .no-date label {
  font-size: 13px;
}
.total .ttl-tp,
.ttl-tt,
.ttl-gt {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 250px;

}
.total  input{
    width: 70px;
    height: 15px;
}
.total .ttl-tt label{
    margin-right: 24px;
}
.total .ttl-tp label{
    margin-right: 14px;
}
.total .ttl-gt label{
    margin-right: 8px;
}
.invoice-create .no-date .in-date{
  padding: 0;
}